*{
margin: 5px;
padding: 0;

}

.navbar-style
{
    box-shadow: 10px 10px 30px #b7b9a6;
    border-radius: 35px;
    border-top-color: #b7b9a6;
    background-color: #b7b9a6; 
}

.navbar-navbar
{
    background-color: #b7b9a6;
}

.img-fluid
{
width: 75%;
}

.clearfix
{
    background-color: #b7b9a6;
    padding: 30px 30px 30px 30px;
    border-radius: 35px;
}

.cxt-padded
{
    background-color: #b7b9a6;
    padding: 100px 100px 100px 100px;
    border-radius: 50px;
}

 .carousel-inner{
    height: 500px;
    width: 100%;
}

.pos-f-t
{
    background-color:#666441;
}

.navbar-brand, .nav-link
{
    color:#666441; 
}

.dropdown-menu > li > a:hover {
    background-image: none;
    background-color: #95978a;
}

.header
{
    font-family: Dreaming Outloud Pro;
    font-size: 75px;
    color: #e34b50;   
}

.card
{
    display: inline-block;
}