*{
margin: 5px;
padding: 0;


}

.navbar-style 
{
    box-shadow: 10px 10px 30px #85ca98;
    border-radius: 35px;
    border-top-color: #85ca98;
    background-color: #85ca98;
   
}

.img-fluid
{
width: 75%;
}

.clearfix
{
    background-color: #85ca98;
    padding: 30px 30px 30px 30px;
    border-radius: 35px;
}


 .carousel-inner{
    height: 500px;
    width: 100%;
}

