*{
margin: 5px;
padding: 0;

}

.navbar-style
{
    box-shadow: 10px 10px 30px #b7b9a6;
    border-radius: 35px;
    border-top-color: #b7b9a6;
    background-color: #b7b9a6; 
}

.navbar-navbar
{
    background-color: #fafcef;
}



.clearfix
{
    background-color:#99c76f;
    padding: 15px;
    border-radius: 35px;
}

.cxt-padded
{
    padding: 100px 100px 100px 100px;
    border-radius: 50px;
}


.pos-f-t
{
    background-color:#c38b72;
}

.navbar-brand, .nav-link
{
    color: black; 
}

.dropdown-menu > li > a:hover {
    background-image: none;
    background-color: #c38b72;    
}
.dropdown-menu
{
    background-color: #c38b72;
}

.list-group 
{
    align-items: center;
    background-color: #99c76f;
    border-color: #99c76f;
    font-size: 50px;  
}

.list-group-item
{
    align-items: center;
    background-color: #99c76f;
    border-color: #99c76f;
    font-size: 50px;
}
 
  .footer {
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
    
  }